!!!
%html
  %link{rel: "stylesheet", type: "text/css", href: "styles/index.css"}
  %body
      #everythn
        #content
          %h1{id: "title"} Cells
          %h1{id: "creator"} By John B.
        %h1{id: "scroll"} Scroll down to start.
        %h1{id: "h1"} yo
        %script{src: "https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"}
        %script{src: "/js/index.js"}
